.contact-form {
    position: relative;
    width: 100%;
    max-width: 600px; /* Increased max-width for a larger form */
    margin: 50px auto;
    padding: 40px; /* Increased padding for better spacing */
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 15px; /* Increased padding for input fields */
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.contact-form button[type="submit"] {
    width: 100%;
    padding: 15px; /* Adjusted padding for the submit button */
    border: none;
    background-color: #2f2f2f;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 1024px) {
    header {
      font-size: 3vw; /* Adjust font size for smaller screens */
      width: 100%;
      text-align: center;
    }
    img {
      height: 400px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    header {
      font-size: 3vw; /* Further adjust font size for smaller screens */
    }
    nav .item:hover {
      width: 100%;
      background-color: #2f67ec; /* replace with your desired color */
  
   }
    .underline {
  
      display: none;
  
   }
    nav {
      max-width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
    .contact-form {
        width: 80%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    header {
      font-size: 2.5vw; /* Further adjust font size for smallest screens */
    }
  
    .underline {
      display: none;
  
   }
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
  
    nav .item {
      min-width: 100%;
    }
  }
  